a {
	color: #81A1C1;
}

body {
	background-color: #16191F;
	color: #E5E9F0;
}

hr {
	border-top-color: #E5E9F0;
}

/* ---------------------------------------------------------------------------------------------- */

.clcpy {
	border-color: #485E5E;
}

.item {
	background-color: #1D2129;
	box-shadow: none;
}

.item:hover {
	box-shadow: 5px 5px #2E3F54;
}
