a {
	color: #81A1C1;
}

a:hover {
	color: #88C1CC;
}

body {
	background-color: #16191F;
	color: #E5E9F0;
}

hr {
	border-top-color: #E5E9F0;
}

input[type=text] {
	color: #E5E9F0;
}

/* ---------------------------------------------------------------------------------------------- */

.clcpy, .imgcl {
	border-color: #485E5E;
}

.item {
	background-color: #1D2129;
	box-shadow: none;
}

.item:hover {
	background-color: #47494D;
	box-shadow: 5px 5px #2E3F54;
}

.xlist, .table {
	background-color: #191D24 !important;
}
