body {
	padding: 3%;
	font-size: 16px; /* Also update clock size */
}

hr {
	border-top-width: 1px;
}

/* ---------------------------------------------------------------------------------------------- */

.cabov {
	font-size: 32px; /* Also update body font-size, if applicable */
}

.clcpy {
	border-width: 1px;
}

.item {
	margin: 10px;
	padding: 10px;
}
