body {
	align-items: center;
	display: flex;
	font-size: 16px; /* Also update clock size */
	justify-content: center;
	padding-bottom: none;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: none;
}

hr {
	border-top-width: 1px;
}

html, body {
	height: 100%;
}

td {
	width: 25%;
}

/* ---------------------------------------------------------------------------------------------- */

.cabov {
	font-size: 32px; /* Also update body font-size, if applicable */
}

.clcpy, .imgcl {
	border-width: 1px;
}

.item {
	margin: 10px;
	padding: 10px;
}

.topic img {
	max-width: 300px;
}
