body {
	padding: 3%;
}

hr {
	border-top-width: 1px;
}

/* ---------------------------------------------------------------------------------------------- */

.clcpy {
	border-width: 1px;
}

.item {
	margin: 10px;
	padding: 10px;
}
