a {
	color: #81A1C1;
}

a:hover {
	color: #88C1CC;
}

body {
	background-color: #ECEFF4;
	color: #2E3440;
}

hr {
	border-top-color: #0F0F0F;
}

input[type=text] {
	color: #0E0F0F;
}

/* ---------------------------------------------------------------------------------------------- */

.clcpy, .imgcl {
	border-color: #485E5E;
}

.item {
	background-color: #D8DEE9;
	box-shadow: none;
}

.item:hover {
	background-color: #E5E9F0;
	box-shadow: 5px 5px #5E81AC;
}

.xlist, .table {
	background-color: #E1E9F7 !important;
}
