body {
	font-size: 50px; /* Also update clock size */
	padding-bottom: 25%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 25%;
}

hr {
	border-top-width: 3px;
}

/* ---------------------------------------------------------------------------------------------- */

.cabov {
	font-size: 100px; /* Update body font-size, if applicable */
}

.clcpy {
	border-width: 3px;
}
