a {
	text-decoration: none;
}

body {
	font-family: Montserrat, sans-serif;
	margin: 0%;
}

hr {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top-style: solid;
	margin: 15px;
}

/* ---------------------------------------------------------------------------------------------- */

.clcpy {
 	border-style: solid;
}

.image {
	padding: 0px !important;
}

.image-img {
	border-radius: inherit;
	max-width: 100%;
}

.item {
	border-radius: 10px;
	margin: 50px;
	padding: 50px; /* Reset in desktop.css, if applicable */
	transition: 0.3s ease;
}

.item:hover {
	border-radius: 3px;
	transition: 0.3s ease;
}
