a {
	text-decoration: none;
}

body {
	font-family: Montserrat, sans-serif;
	margin: 0%;
}

hr {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top-style: solid;
	margin: 15px;
}

input[type=text] {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	font-family: Montserrat, sans-serif;
	font-size: 100%;
	padding: 7px;
	text-align: center;
	width: 50%;
}

table {
	margin-left: auto;
	margin-right: auto;
}

/* ---------------------------------------------------------------------------------------------- */

.cabov * {
	padding-left: 0.25in;
	padding-right: 0.25in;
}

.cbelw * {
	font-style: italic;
	padding-left: 0.1in;
	padding-right: 0.1in;
}

.clcpy, .imgcl {
 	border-style: solid;
}

.clock {
	text-align: center;
}

.image, .imgcl, .imglk {
	padding: 0px !important;
	text-align: center;
}

.image-img {
	border-radius: inherit;
	max-width: 100%;
}

.item {
	border-radius: 10px;
	margin: 50px;
	padding: 50px; /* Reset in desktop.css, if applicable */
	transition: 0.3s ease;
}

.item:hover {
	border-radius: 3px;
	transition: 0.3s ease;
}
